# Configuration SITL - Booster
odb_name=ODB_BOOSTER
stage_role=2
pyros_arming_failsafe_ms=10000
apogee_failsafe_ms=35000
main_deploy_altitude_threshold_m=450.0
acc_z_launch_threshold=29.42
boost_phase_v_threshold=100.0
apogee_detect_v_threshold=-2.0
drogue_fire_attempt_max_nb=3
main_fire_attempt_max_nb=3
fire_attempt_delay_ms=250
pyro1_role=DROGUE
pyro2_role=DROGUE_BKP
pyro3_role=MAIN
pyro4_role=MAIN_BKP