# Configuration SITL - Sustainer
odb_name=ODB_SUSTAINER
stage_role=3
pyros_arming_failsafe_ms=30000
apogee_failsafe_ms=65000
main_deploy_altitude_threshold_m=450.0
acc_z_launch_threshold=29.42
boost_phase_v_threshold=100.0
apogee_detect_v_threshold=-2.0
drogue_fire_attempt_max_nb=3
main_fire_attempt_max_nb=3
fire_attempt_delay_ms=250